#header {
  background-color: black;
  color: white;
}

#footer {
  background-color: black;
  color: white;
  min-height: 20vh;
}

#imbibe-logo {
  max-width: 8vw;
  display: inline-block;
  padding: 1vh;
}

#thread-container {
  width: 75%;
  background-color: gold;
}