#header {
  background-color: black;
  color: white;
}

#footer {
  background-color: black;
  color: white;
  min-height: 20vh;
}

#imbibe-logo {
  max-width: 8vw;
  display: inline-block;
  padding: 1vh;
}

#thread-container {
  width: 75%;
  background-color: gold;
  border-radius: 1rem;
}

.one-thread {
  padding-left: 1rem;
  border: groove 0.5rem red;  
  border-radius: 1rem;
  margin: 0.25rem 0;
}

.remark-content {
  padding-left: 0.25rem;
  margin-left: 2rem;
  border: groove 0.5rem red;  
  border-radius: 1rem;
}