a:hover {
  color: #F9F823;
  cursor:pointer;
}

nav {
  display: inline-block;
}

.main-nav ul li {
  display: inline-block;
  padding: 0.5vh 1vw;
}

.submit:hover{
  background-color: grey;
  cursor:pointer;
}

/*-------------- categories - map & buttons -------------------*/
.flexcontainer {
  display: -webkit-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.drink-type-cat {
  margin-right: 0.5rem;
}

.drink-type-cat li {
  list-style: none;
}

.drink-type-cat li img{
  width: 70%;
}

.map-content {
  width: 50%;
  margin-left: 0.5rem;
}

