
a{
  color: grey;
  text-decoration: none;
}

a:hover{
  color: #F9F823;
  cursor:pointer;
}

nav{
  display: inline-block;
}
.main-nav ul li {
  display: inline-block;
  padding: 0.5vh 1vw;
}

.submit:hover{
  background-color: grey;
  cursor:pointer;
}
