a:hover {
  color: #F9F823;
  cursor:pointer;
}

nav {
  display: inline-block;
}

.main-nav ul li {
  display: inline-block;
  padding: 0.5vh 1vw;
}

.submit:hover{
  background-color: grey;
  cursor:pointer;
}

button:hover{
  background-color: grey;
  cursor:pointer;
}

/*-------------- categories - map & drinkType -------------------*/
#flexcontainer {
  display: -webkit-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: space-around;
}

.img-link img:hover{
  cursor:pointer;
  -webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.drink-type-cat li {
  list-style: none;

}

.drink-type-cat li img{
  width: 50%;
  margin-left: 25%
}

.map-content {
  width: 50%;
  margin-left: 7%;
}

.copy{
  font-size: 5vh;
  margin: 4vh 10vw;
}
/*-------------- threads & remarks -------------------*/
.thread-buttons, .remark-buttons {
  margin-bottom: 0.5%;
}

#thread-container {
  width: 75%;
  /*background-color: gold;*/
  border-radius: 1rem;
  padding: 0.25rem;
  margin-top: 0.5%;
}

.one-thread{
  background-color: gold;
}

.remark-content{
  background-color: lightyellow;
}


#flex-thread-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.one-thread {
  padding-left: 1rem;
  border: outset 0.5rem black;  
  border-radius: 1rem;
  margin: 0.25rem 0;
}

.remark-content {
  padding-left: 0.40rem;
  margin-left: 2rem;
  margin-bottom: 0.1rem;
  border: inset 0.5rem black;  
  border-radius: 1rem;
}

/*-------------- about page -------------------*/
.contributor-center {
  display: -webkit-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: space-around;
}

.contributors img {
  width: 15rem;
  /*align-self: center;*/
}

.contributors p {
  width: 15rem;
  /*align-self: center;*/
}

/*-------------- login logout signup -------------------*/
#logout-button{
  position: relative;
}

#login-header{
   text-align: center;
}

#login-form{
 text-align: center;
}

#signup-header{
   text-align: center;
}

#signup-form{
 text-align: center;
}

#search-threads{
 text-align: center;
}
.search-param{
  text-align: left;
  color: blue;
}

select:hover{
  background-color: #F9F823;
  cursor:pointer;
}

#user-status{
  text-align: right;
  color: #F9F823;
}

.appended-username{
  color: forestgreen;
}

.appended-threadname{
  color: forestgreen;
}

#followed-thread-div{
  background-color: lightyellow;
   padding-left: 0.40rem;
  margin-left: 2rem;
  margin-bottom: 0.1rem;
  border: inset 0.2rem black;  
  border-radius: 1rem;
}

#followed-user-div{
  background-color: lightyellow;
   padding-left: 0.40rem;
  margin-left: 2rem;
  margin-bottom: 0.1rem;
  border: inset 0.2rem black;  
  border-radius: 1rem;
}